@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";

@import "utils/slick.scss";
@import "utils/popup.scss";
@import "utils/interface.scss";
//@include sprites($spritesheet-sprites);
*,
*::before,
*::after { box-sizing: border-box; }

html {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  height: 100%;
}

body {
  height: 100%;
  min-width: 1024px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  color: $text__color;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text__color;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $content;
  width: 100%;
}

@media(max-width: 1200px){
  .container{
    max-width: 992px;
  }
}

@media(max-width: 480px){
  body{
    min-width: 320px;
  }
}
//Модули
@import "modules/modules";
