footer.footer
  .container
    .footer__row
      a.footer__company(href="#") @ Создание сайтов: АБВ! Студия
      .footer__block
        a(href="tel:+79283456259") +7 (928) 345-62-59
        a(href="mailto:clean-sept@gmail.com") clean-sept@gmail.com