header(class="header")
  .container
    .row
      a(href="#wrapper")
        img(class="header__logo" src="static/images/content/header__logo.svg", alt="CLEAN SEPT", srcset="")
      .header__block
        a(class="header__mail" href="mailto:clean-sept@gmail.com") clean-sept@gmail.com
        div(class="header__info")
          span Есть вопрос? Позвоните нам!
          a(href="tel:+79283456259") +7 (928) 345-62-59
          a(href="tel:+79283456259") <img src="static/images/content/whatsapp.svg" alt="whatsapp"> +7 (928) 345-62-59
        a(href="#call__form-block").header__button.button заказать звонок
        div.nav-block
          nav.nav
            input.nav__toggle(id="nav__toggle" type="checkbox")
            label.nav__btn(for="nav__toggle")
              span
            .nav-box
            .nav__menu
              //- ul
              //-   li
              //-     a(class="nav__menu-link" href="#product") О продукте
              //-   li
              //-     a(class="nav__menu-link" href="#catalog") Наш товар
              //-   li
              //-     a(class="nav__menu-link" href="#partners") Магазины-партнеры
              //-   li
              //-     a(class="nav__menu-link" href="#clients") Наши клиенты
              //-   li
              //-     a(class="nav__menu-link" href="#document") Документы и сертификаты
              //-   li
              //-     a(class="nav__menu-link" href="#call") Форма обратной связи
              //-   li
              //-     a(class="nav__menu-link" href="#" download) Прайс
              .nav__menu-info
                a(class="nav__menu-info__mail" href="mailto:clean-sept@gmail.com") clean-sept@gmail.com
                a(href="tel:+79283456259") +7 (928) 345-62-59
                a(href="tel:+79283456259") <img src="static/images/content/whatsapp.svg" alt="whatsapp"> +7 (928) 345-62-59




