.modal-bg
.modal
  .row
    .modal-header
      img(class="modal-header__logo" src="static/images/content/header__logo.svg", alt="CLEAN SEPT", srcset="")
      .modal-header__btn
        span
    .modal-content
      .modal-content__img
        img(src="static/images/content/catalog__img.png", alt="Продукт", srcset="")
      div
        h2.modal-content__title Антисептик, 1 литр
        form.modal-content__form(action="", method="post", id="modal-form")
          div
            input(type="text", name="name", placeholder="Ваше имя")
          div
            input(type="tel", name="phone", placeholder="+7 (999) 999 - 99 - 99")
          div
            input(type="email", name="email", placeholder="Ваша почта")
          .count-block
            span.count-block__text Количество:
            span(class="count-block__button minus") -
            input(class="count-block__value" type="text", name="count", value="1", onchange="this.style.width = ((this.value.length + 1) * 12) + 'px';")
            span.count-block__label шт.
            span(class="count-block__button plus") +
          button.call__button.button(type="submit") Отправить
