.modal {
  display: none;
  &-bg {
    display: none;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    background: rgba(50, 49, 57, 0.21);
  }
  z-index: 8;
  position: fixed;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 630px;
  border: 2px solid $button;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  &-header {
    padding: 10px 30px;
    border-bottom: 2px solid $button;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../../static/images/content/modal__bg.jpg") no-repeat;
    background-size: auto;
    &__logo {
      width: 71px;
    }
    &__btn {
      display: flex;
      align-items: center;
      width: 40px;
      height: 30px;
      cursor: pointer;
      & span,
      span::after {
        display: block;
        width: 40px;
        height: 2px;
        background: #e67187;
        transform-origin: center;
        transform: rotate(45deg);
      }
      & span {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          transform: rotate(90deg);
          transform-origin: center;
        }
      }
    }
  }
  &-content {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    & div {
      position: relative;
      & label {
        position: absolute;
        left: 20px;
        bottom: -15px;
        font-size: 12px;
      }
      &:nth-child(1) {
        flex-basis: 20%;
        margin-right: 15px;
      }
      &:nth-child(2) {
        flex-basis: 80%;
      }
    }
    &__title {
      font-size: 1.7em;
      margin-bottom: 25px;
    }
    &__form {
      width: 100%;
      & div {
        width: 100%;
        margin-bottom: 15px;
        & input {
          height: 55px;
        }
      }
      & button {
        width: 100%;
      }
      & .count-block {
        display: flex;
        align-items: center;
        &__text {
          margin-right: 5px;
        }
        &__button {
          font-size: 1.2em;
          font-weight: 700;
          margin: 0 10px;
          cursor: pointer;
        }
        &__value {
          width: 24px;
          height: 30px;
          padding: 0;
          border: none;
          font-size: 1.7em;
          font-weight: bold;
        }
        &__label {
          margin-left: 7px;
          font-size: 1.7em;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
    &-content {
      &__img{
        display: none;
      }
      & div {
        &:nth-child(2) {
          flex-basis: 100%;
        }
      }
    }
  }
}

