.nav {
  &-block{
    margin-left: 55px;
    width: 40px;
  }
  &-box{
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(50, 49, 57, 0.21);
  }
  &__menu{
    visibility: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    right: -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 510px;
    min-height: 100vh;
    padding: 30px;
    background-color: white;
    transition: 0.6s;
    & ul{
      margin-top: 60px;
      & li {
        display: block;
        margin-bottom: 30px;
      }
    }
    &-link{
      position: relative;
      font-size: 1.7em;
      line-height: 1.2;
      &::before{
        content: '';
        position: absolute;
        bottom: -5px;
        width: 0%;
        height: 2px;
        transition: 0.2s;
        background: #E67187;
      }
      &:hover{
        &::before{
          width: 100%;
        }
      }
    }
    &-info{
      text-align: right;
      & a{
        display: block;
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 0;
        &:first-child{
          margin-bottom: 15px;
        }
        &:nth-child(3){
          display: flex;
          align-items: center;
          justify-content: flex-end;
          & img{
            max-width: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  & span,
  span::after,
  span::before {
    display: block;
    width: 40px;
    height: 2px;
    background: #E67187;
    transition-duration: 0.25s;
  }
  & span {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 10px;
    }
    &::before {
      position: absolute;
      content: "";
      top: -10px;
    }
  }

  &__btn {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
  }

  &__toggle {
    display: none;
  }
  &__toggle:checked{
    position: fixed;
    right: 30px;
    top: 30px;
  }
  &__toggle:checked ~ .nav__btn {
    position: fixed;
    right: 30px;
    top: 30px; 
  }
  &__toggle:checked ~ .nav__btn > span {
    transform: rotate(45deg);
  }
  &__toggle:checked ~ .nav__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  &__toggle:checked ~ .nav__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  &__toggle:checked ~ .nav__menu {
    visibility: visible;
    right: 0;
  }
  &__toggle:checked ~ .nav-box {
    visibility: visible;
  }
}

@media(max-width: 480px){
  .nav {
    &__toggle:checked{
      right: 10px;
      top: 10px;
    }
    &__toggle:checked ~ .nav__btn {
      right: 10px;
      top: 10px; 
    }
    &-block{
      margin-left: 0;
      width: 40px;
    }
    &__menu{
      right: -120%;
      max-width: 100%;
      min-height: 1vh;
      height: 100vh;
      padding: 15px;
      justify-content: flex-start;
      & ul{
        margin-top: 45px;
        margin-bottom: 80px;
        & li {
          margin-bottom: 20px;
        }
      }
      &-link{
        font-size: 1.4em;
      }
    }
  }
}