.footer { 
  flex: 0 0 auto; 
  padding: 25px 0;
  background: #323139;
  & a{
    color: white;
    font-weight: 700;
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__block{
    & a{
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

@media(max-width: 480px){
  .footer{
    padding: 17px 0;
    &__block{
      display: none;
    }
  }
}