include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(class="viewport" name="viewport" content="width=1024")
		meta(name="keywords" content="")
		meta(name="description" content="")
		link(rel="shortcut icon", href="static/images/content/favicon.png")
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		script(src="static/js/mobile.js")
	body
		.wrapper(id="wrapper")
			include ../modules/modal
			include ../modules/header
			.content
				block content
				//- include ../modules/section/hero
			include ../modules/footer
		//- script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/libs.js")
		script(src="static/js/main.js")
		block script
