extends layout/main

block variables
	-var title = 'CLEAN SEPT'

block content
	section.hero.section
		.hero__bg
			img(class="hero__bg-minRec" src="static/images/content/hero__minRec.png", alt="", srcset="")
			img(class="hero__bg-rectangle" src="static/images/content/hero__rectangle.png", alt="", srcset="")
			.container
				.hero__row
					.hero__block
						h1.hero__title.title Мы делаем бизнес <span class="color">чистым <br> Антисептики</span> оптом
						h2.hero__subtitle Очистим ваши руки,<span class="color"> увеличим прибыль</span>, обеспечим любым количеством.
						a.hero__button.button__border.link(href="#call__form-block") нажми, мы поможем
							img(class="arrow" src="static/images/content/arrow.svg", alt="arrow", srcset="")
							img(class="ellipse" src="static/images/content/ellipse.svg", alt="ellipse", srcset="")
					.hero__img
						img(src="static/images/content/hero__img.png", alt="")
						img(src="static/images/content/hero__human__mobile.png", alt="")

	section.product.section(id="product")
		.container
			.product__row
					h1.product__title.title Чем хорош наш <span class="color">продукт</span> ?
					.product__block
						.product__text
							span.product__description <b>Антисептики</b> – это химические вещества, предназначенные для нанесения на живые ткани, такие как кожа, в целях уничтожения или подавления роста болезнетворных микроорганизмов. Они помогают уменьшать возможный риск инфекции, сепсиса или других болезней. Более того, антисептики используются для очищения кожи перед ее надрезанием в хирургических целях. 
							a.product__button.button__border(href="#call__form-block") Связаться с нами
								img(class="arrow" src="static/images/content/arrow.svg", alt="arrow", srcset="")
								img(class="ellipse" src="static/images/content/ellipse.svg", alt="ellipse", srcset="")
						.product__card
							img(class="product__card-item" src="static/images/content/product.png", alt="product", srcset="")
							img(class="product__card-img" src="static/images/content/product__plus.png", alt="123", srcset="")

	section.catalog.section(id="catalog")
		.container
			.catalog__row
				img(class="catalog__row-plus" src="static/images/content/catalog__plus.png", alt="123", srcset="")
				h1.catalog__title.title Наша <span class="color">продукция</span>
				span.catalog__subtitle В наличии ароматы: без аромата, цитрус, алоэ
				.catalog__block
					.catalog__card
						.catalog__card-content
							img(src="static/images/content/catalog__img.png", alt="Продукт", srcset="")
							span.catalog__card-content__title Антисептик <span>200ml</span>
							span.catalog__card-content__subtitle Цена: от <b>300 руб./шт.</b>
							button.catalog__card-content__button.button.modal-btn заказать
					.catalog__card
						.catalog__card-content
							img(src="static/images/content/catalog__img.png", alt="Продукт", srcset="")
							span.catalog__card-content__title Антисептик <span>200ml</span>
							span.catalog__card-content__subtitle Цена: от <b>300 руб./шт.</b>
							button.catalog__card-content__button.button.modal-btn заказать
					.catalog__card
						.catalog__card-content
							img(src="static/images/content/catalog__img.png", alt="Продукт", srcset="")
							span.catalog__card-content__title Антисептик <span>200ml</span>
							span.catalog__card-content__subtitle Цена: от <b>300 руб./шт.</b>
							button.catalog__card-content__button.button.modal-btn заказать

	section.partners.section(id="partners")
		.container
			.partners__row
				img(class="partners__row-img" src="static/images/content/product__plus.png", alt="123" srcset="")
				img(class="partners__row-rectangle" src="static/images/content/partners__rectangle.png", alt="123" srcset="")
				h1.partners__title.title <span class="color">Магазины</span>-партнеры
				span.partners__subtitle Заказывайте также на:
				.partners__block
					.partners__card
						.partners__card-logo
							img( src="static/images/content/partners__logo.png", alt="Компания", srcset="")
						span.partners__card-subtitle Заказывайте на wildberries
						.partners__card-block
							.partners__card-arrow
								span
								span
								span
							a.partners__card-button.button(href="https://www.w3schools.com/jsref/prop_loc_href.asp" target="_blank") перейти
					.partners__card
						.partners__card-logo
							img(src="static/images/content/partners__logo2.png", alt="Компания", srcset="")
						span.partners__card-subtitle Заказывайте на wildberries
						.partners__card-block
							.partners__card-arrow
								span
								span
								span
							a.partners__card-button.button(href="https://ru.stackoverflow.com/questions/453994/%D0%9F%D0%B5%D1%80%D0%B5%D1%85%D0%BE%D0%B4-%D0%BF%D0%BE-%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B5-%D1%81-%D0%B0%D0%BD%D0%BA%D0%BE%D1%80%D0%BE%D0%BC" target="_blank") перейти
					.partners__card
						.partners__card-logo
							img( src="static/images/content/partners__logo3.png", alt="Компания", srcset="")
						span.partners__card-subtitle Заказывайте на wildberries
						.partners__card-block
							.partners__card-arrow
								span
								span
								span
							a.partners__card-button.button(href="https://yandex.ru/" target="_blank") перейти

	section.clients.section(id="clients")
		.container.clients__container
			.clients__row
				img(class="clients__row-rectangle" src="static/images/content/clients__rectangle.png", alt="123" srcset="")
				h1.clients__title.title <span class="color">Клиенты</span>, которые выбирают нас
				img(class="clients__bg" src="static/images/content/clients__img.png", alt="Человек", srcset="")
				.clients-carousel__block
					img(class="clients-carousel__prev" src="static/images/content/slide__arrow.svg", alt="arrow", srcset="")
					.clients-carousel
						div.item
							img(src="static/images/content/client__logo.png", alt="Компания", srcset="")
						div.item
							img(src="static/images/content/client__logo2.png", alt="Компания", srcset="")
						div.item
							img(src="static/images/content/client__logo.png", alt="Компания", srcset="")
						div.item
							img(src="static/images/content/client__logo2.png", alt="Компания", srcset="")
						div.item
							img(src="static/images/content/client__logo.png", alt="Компания", srcset="")
					img(class="clients-carousel__next" src="static/images/content/slide__arrow.svg", alt="arrow", srcset="")

	section.company.section
		.container
			.company__row
				img(class="company__row-plus" src="static/images/content/product__plus.png", alt="123" srcset="")
				h1.company__title.title <span class="color">С кем</span> мы работаем?
				.company__block
					.company__card
						img(src="static/images/content/company__1.png", alt="", srcset="")
						span.company__card-subtitle Организации жизнеобеспечения
					.company__card
						img(src="static/images/content/company__2.png", alt="", srcset="")
						span.company__card-subtitle Крупные и средние предприятия
					.company__card
						img(src="static/images/content/company__3.png", alt="", srcset="")
						span.company__card-subtitle Частные клиенты и малый бизнес

	section.document.section(id="document")
		img(class="document-pink__rectangle" src="static/images/content/pink__rectangle__bold.png", alt="", srcset="")
		img(class="document-blue__rectangle" src="static/images/content/blue__rectangle__bold.png", alt="", srcset="")
		.container
			h1.document__title.title Документы и <span class="color">сертификаты</span>
			.document__row
				img(class="document__row-plus" src="static/images/content/catalog__plus.png", alt="123", srcset="")
				.document__block
					div
						p.document__description Имеем все необходимые сертификаты для поставки продукции на территории РФ и прохождения карантийного контроля при поставках в СНГ и Европу.
						p.document__description Если у вас остались вопросы, то вы можете задать их нам, заполнив форму обратной связи. Мы перезвоним в ближайшее время.
					a.document__button.button__border(href="#call__form-block") заполните форму
						img(class="arrow" src="static/images/content/arrow.svg", alt="arrow", srcset="")
						img(class="ellipse" src="static/images/content/ellipse.svg", alt="ellipse", srcset="")
				.document-carousel__block
					img(class="document-carousel__prev" src="static/images/content/slide__arrow.svg", alt="arrow", srcset="")
					.document-carousel
						div.item
							div.card
								img(class="image" src="static/images/content/document.jpg", alt="document", srcset="")
						div.item
							div.card
								img(class="image" src="static/images/content/document.jpg", alt="document", srcset="")
						div.item
							div.card
								img(class="image" src="static/images/content/document.jpg", alt="document", srcset="")
						div.item
							div.card
								img(class="image" src="static/images/content/document.jpg", alt="document", srcset="")
					img(class="document-carousel__next" src="static/images/content/slide__arrow.svg", alt="arrow", srcset="")

	section.about.section
		.container
			.about__row
				img(class="about__row-rectangle" src="static/images/content/partners__rectangle.png", alt="123" srcset="")
				h1.about__title.title <span class="color">Почему</span> нас выбирают?
				.about__block
					.about__card
						img(src="static/images/content/about__1.png", alt="", srcset="")
						span.about__card-subtitle Качественный продукт
					.about__card
						img(src="static/images/content/about__2.png", alt="", srcset="")
						span.about__card-subtitle Удобная форма рассчета с НДС!
					.about__card
						img(src="static/images/content/about__3.png", alt="", srcset="")
						span.about__card-subtitle Прогрессивная система скидок
					.about__card
						img(src="static/images/content/about__4.png", alt="", srcset="")
						span.about__card-subtitle Доставка в течение 24 часов с момента подачи заявки
					.about__card
						img(src="static/images/content/about__5.png", alt="", srcset="")
						span.about__card-subtitle Быстрая отгрузка товара и удобное сотрудничество.
					.about__card
						img(src="static/images/content/about__6.png", alt="", srcset="")
						span.about__card-subtitle Оплата на условиях рассрочки от 20 дней

	section.call.section(id="call")
		.call__bg
			img(class="call__bg-plusBlue" src="static/images/content/catalog__plus.png", alt="123", srcset="")
			img(class="call__bg-rectangle" src="static/images/content/hero__minRec.png", alt="", srcset="")
			img(class="call__bg-blue__plus" src="static/images/content/blue__plus.png", alt="", srcset="")
			.container
				.call__row
					img(class="call__row-plusPink" src="static/images/content/product__plus.png", alt="123" srcset="")
					.call__map
						h1.call__map-title.title Наш <span class="color">адрес</span>
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3a64b64db45d0a692d80020a1483474fdd2e41eab61936192c00f61397246e8d&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
						
						.call__map-info ООО "ТЕХНОИНВЕСТ", Российская Федерация,<br> Карачаево-Черкесская 	Республика, г. Черкесск, переулок Линейный, дом 29
					.call__form(id="call__form-block")
						h1.call__title.title <span class="color">Напишите</span> нам
						span.call__subtitle Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время!
						form.call__form-form(action="", method="post", id="call-form")
							div
								input(type="text", name="name", placeholder="Ваше имя")
							div
								input(type="tel", name="phone", placeholder="+7 (999) 999 - 99 - 99")
							div
								input(type="email", name="email", placeholder="Ваша почта")
							textarea(name="textarea", cols="30", rows="10", maxlength="120" placeholder="Ваше сообщение*")
							button.call__button.button(type="submit") Отправить