.color {
  color: $button;
}

.button {
  position: relative;
  display: inline-block;
  padding: 18px 50px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background: $button;
  &:hover{
    color: $text__color;
    background: #F2B4BF;
    transition: .2s;
  }
}

.button__border {
  position: relative;
  display: inline-block;
  padding: 18px 50px;
  border: 2px solid #E67187;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: $text__color;
  background: white;
  &:hover{
    color: white;
    background: #E67187;
    transition: .2s;
    & .arrow{
      right: -75px;
    }
  }
}

.arrow{
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  transition: .6s;
}
.ellipse{
  position: absolute;
  bottom: -10px;
  left: -7px;
}

.section{
  padding: 90px 0;
}

.title{
  line-height: 1.2;
  font-size: 2.8em;
  font-weight: 700;
}

input{
  width: 100%;
  height: 55px;
  padding: 17px 20px;
  border: 2px solid #B0B0B0;
  color: $text__color;
  &:focus{
    border: 2px solid $button;
    transition: .2s;
  }
  &::placeholder{
    color: #B0B0B0;
  }
}

textarea{
  border: 2px solid #B0B0B0;
  color: $text__color;
  &:focus{
    border: 2px solid $button;
    transition: .2s;
  }
  &::placeholder{
    color: #B0B0B0;
  }
}

.slick{
  &-track{
    display: flex;
    align-items: center;
  }
  &-slide{
    outline: none !important;
  }
  &-cloned{
    outline: none !important;
  }
  &-active{
    outline: none !important;
  }
  &-list{
    padding: 120px 0 50px 0;
    margin: -120px -15px -50px -15px;
  }
  &-slide{
    padding: 0 15px;
  }
}

@-ms-viewport { 
  width: device-width;
}
@-o-viewport { 
  width: device-width;
}
@viewport { 
  width: device-width;
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  @-ms-viewport { 
    width: 1024;
  }
  @-o-viewport { 
    width: 1024;
  }
  @viewport { 
    width: 1024;
  }
}

@media(max-width: 480px){
  .section{
    padding: 60px 0;
  }
  .title{
    font-size: 1.5em;
  }
  .button {
    padding: 10px 15px;
  }
  .button__border {
    padding: 10px 15px;
  }
  .arrow{
    z-index: -1;
    // max-width: 30px;
    // height: 15px;
  }
  .slick{
    &-list{
      padding: 120px 0 120px 0;
      margin: -120px -8px -120px -8px;
    }
    &-slide{
      padding: 0 8px;
    }
  }

  textarea{
    height: 110px;
  }
}