.image {
  cursor: pointer;
}

.popup {
  z-index: 4;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(50, 49, 57, 0.21);
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
}

.popup-block {
  position: fixed;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 30vw;
}

.popup_img {
  height: 100%;
  width: 100%;
}

.popup-close {
  z-index: 1;
  position: absolute;
  top: 11px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 40px;
  height: 40px;
  padding-bottom: 6px;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid black;
}



@media (max-width: 480px){
  .popup-block {
    height: 90%;
    width: 90%;
  }
}