// Colors
$white: #fff;
$black: #000;
$button: #22B5BF;
$button__border: #E67187;
$text__color: #323139;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1150px;

// Fonts
