.header { 
  box-sizing: content-box;
  z-index: 3;
  position: fixed;
  width: 100%;
  min-width: 1024px;
  min-height: 85px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  background: white;
  & .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    max-width: 110px;
  }
  &__block {
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__mail {
    font-weight: 700;
  }
  &__info{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    & a {
      font-weight: 700;
      &:nth-child(3){
        display: flex;
        align-items: center;
        & img{
          max-width: 20px;
          margin-right: 5px;
        }
      }
    }
  }
  &__button {
    margin-left: 30px;
  }
}

@media(max-width: 480px){
  .header {
    min-height: 55px;
    min-width: 320px;
    &__logo{
      width: 72px;
    }
    &__mail {
      display: none;
    }
    &__info{
      display: none;
    }
    &__button {
      display: none;
    }
  }
}