.about {
  background: #f9f9f9;
  &__row {
    position: relative;
    &-rectangle {
      position: absolute;
      top: -70px;
      left: 65%;
      transform: translateX(-50%);
    }
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__card {
    display: flex;
    align-items: center;
    max-width: 360px;
    margin-bottom: 30px;
    & img {
      margin-right: 30px;
    }
    &-subtitle {
      font-size: 1.7em;
    }
  }
}

@media (max-width: 480px) {
  .about {
    background: url("../../static/images/content/pink__plus.png") 5% 95% no-repeat;
    background-size: auto;
    &__row {
      &-rectangle {
        display: none;
      }
    }
    &__title {
      margin-bottom: 20px;
      text-align: center;
    }
    &__card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-basis: 48%;
      margin-bottom: 20px;
      &:nth-child(5){
        margin-bottom: 0;
      }
      &:nth-child(6){
        margin-bottom: 0;
      }
      & img {
        max-width: 45px;
        margin: 0 0 10px 0;
      }
      &-subtitle {
        text-align: center;
        font-size: 1em;
      }
    }
  }
}
