.call {
  padding: 0;
  &__bg {
    padding: 90px 0;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    & img {
      position: absolute;
    }
    &-plusBlue {
      bottom: -10px;
      left: 40%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
    }
    &-rectangle {
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
    }
    &-bule__plus{
      display: none;
    }
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    &-plusPink {
      position: absolute;
      top: -55px;
      right: 0;
    }
  }
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    display: block;
    margin-bottom: 30px;
  }
  &__map {
    position: relative;
    flex-basis: 55%;
    &-title {
      display: none;
    }
    &-info {
      position: absolute;
      top: 35px;
      left: 45px;
      max-width: 450px;
      padding: 10px;
      border: 2px solid $button;
      border-radius: 10px;
      color: black;
      background: rgba(255, 255, 255, 0.8);
    }
  }
  &__form {
    flex-basis: 40%;
  }
  & form {
    & div {
      position: relative;
      width: 100%;
      margin-bottom: 15px;
      & label {
        position: absolute;
        left: 20px;
        bottom: -15px;
        font-size: 12px;
      }
    }
    & textarea {
      width: 100%;
      padding: 17px 20px;
      margin-bottom: 15px;
      outline: none;
    }
    & button {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .call {
    &__bg {
      padding: 60px 0;
      background: url("../../static/images/content/blue__plus.png") 90% 4% no-repeat,
      url("../../static/images/content/pink__plus.png") 75% 58% no-repeat;
      background-size: auto, auto;
      &-plusBlue {
        display: none;
      }
      &-rectangle {
        display: none;
      }
      &-blue__plus{
        display: block;
        right: 55px;
        bottom: -5px;
      }
    }
    &__row {
      flex-direction: column-reverse;
      &-plusPink {
        display: none;
      }
    }
    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
    & form {
      & button {
        margin-bottom: 55px;
      }
    }
    &__map {
      flex-basis: 100%;
      &-title {
        display: block;
        margin-bottom: 20px;
      }
      & iframe {
        height: 212px;
        margin-bottom: 20px;
      }
      &-info {
        position: unset;
      }
    }
  }
}
