.catalog {
  padding: 45px 0 90px 0;
  &__row {
    position: relative;
    &-plus {
      position: absolute;
      top: 130px;
      left: -45px;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__subtitle{
    display: block;
    margin-bottom: 140px;
    text-align: center;
    font-size: 1.7em;
  }
  &__card {
    position: relative;
    margin-right: 10px;
    width: 350px !important;
    height: 235px;
    border: 2px solid $button;
    border-radius: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: 2px solid #f2b4bf;
      transition: 0.2s;
    }
    &-content {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      & img {
        margin: 0 auto;
        margin-bottom: 30px;
      }
      &__title {
        display: block;
        font-size: 1.7em;
        margin-bottom: 10px;
        & span{
          display: block;
          font-size: 0.7em;
        }
      }
      &__subtitle {
        display: block;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .catalog {
    &__card {
      width: 300px !important;
    }
  }
}

@media (max-width: 480px) {
  .catalog {
    padding: 25px 0 30px 0;
    &__row {
      &-plus {
        display: none;
      }
    }
    &__title {
      text-align: left;
    }
    &__subtitle{
      margin-bottom: 95px;
      text-align: left;
      font-size: 1em;
    }
    &__card {
      width: 225px !important;
      height: 175px;
      &-content {
        width: 200px;
        & img {
          height: 135px;
          margin-bottom: 20px;
        }
        &__title {
          font-size: 1em;
          font-weight: 700;
          & span{
            font-weight: 400;
          }
        }
        &__subtitle {
          margin-bottom: 20px;
        }
      }
    }
  }
}
