.clients {
  background: #f9f9f9;
  padding: 0;
  &__container {
    position: relative;
  }
  &__row {
    position: relative;
    padding: 90px 0;
    &-rectangle {
      position: absolute;
      top: 140px;
      right: -25px;
    }
  }
  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__title {
    margin-bottom: 35px;
  }
  &-carousel {
    max-width: 650px;
    margin: 0 50px;
    &__block {
      display: flex;
      align-items: center;
    }
    & .item {
      width: 140px !important;
      & img {
        margin: 0 auto;
      }
    }
    &__prev {
      cursor: pointer;
    }
    &__next {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .clients {
    &__row {
      padding: 60px 0;
    }
    &__title {
      margin-bottom: 20px;
    }
    &-carousel {
      max-width: 450px;
    }
  }
}

@media (max-width: 480px) {
  .clients {
    background: url("../../static/images/content/pink__rectangle.png") 100% 5%
      no-repeat #f9f9f9;
    background-size: auto;
    &__row {
      padding: 60px 0;
      background: url("../../static/images/content/clients__img__mobile.png")
          100% 107% no-repeat,
        url("../../static/images/content/blue__plus.png") 5% 80% no-repeat;
      background-size: auto, auto;
      &-rectangle {
        display: none;
      }
    }
    &__bg {
      display: none;
    }
    &__title {
      margin-bottom: 20px;
    }
    &-carousel {
      max-width: 110px;
      margin: 0 15px;
      & .item {
        width: 110px !important;
      }
      &__block {
        margin-bottom: 30px;
      }
      &__prev {
        width: 25px;
      }
      &__next {
        width: 25px;
      }
    }
  }
}
