.company {
  &__row {
    position: relative;
    &-plus {
      position: absolute;
      top: 40px;
      left: 0;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__card {
    max-width: 360px;
    text-align: center;
    & img {
      margin: 0 auto;
      margin-bottom: 15px;
    }
    &-subtitle {
      max-width: 250px;
      display: block;
      font-size: 1.7em;
    }
  }
}

@media (max-width: 480px) {
  .company {
    padding: 60px 0 30px 0;
    background: url("../../static/images/content/blue__plus.png") 95% 25% no-repeat,
                url("../../static/images/content/pink__plus.png") 5% 85% no-repeat;
      background-size: auto, auto;
    &__row {
      &-plus {
        display: none;
      }
    }
    &__title {
      margin-bottom: 20px;
    }
    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    &__card {
      max-width: 215px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      & img {
        max-width: 45px;
        margin: 0 15px 0 0;
      }
      &-subtitle {
        text-align: left;
        font-size: 1em;
      }
    }
  }
}
