.document {
  &-pink__rectangle{
    display: none;
  }
  &-blue__rectangle{
    display: none;
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: flex-start;
    &-plus {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -30px;
      right: -30px;
    }
  }
  &__block {
    margin-right: 30px;
    flex-basis: 40%;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__description {
    max-width: 450px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
  &-carousel {
    max-width: 500px;
    margin: 0 30px;
    &__block {
      display: flex;
      align-items: center;
      flex-basis: 40%;
    }
    & .item {
      & .card {
        width: 150px;
        height: 200px;
        margin: 0 auto;
        border: 2px solid #22b5bf;
        border-radius: 10px;
        overflow: hidden;
        & img {
          object-fit: fill;
          cursor: pointer;
        }
      }
    }
    &__prev {
      cursor: pointer;
    }
    &__next {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .document {
    &-carousel {
      max-width: 350px;
    }
  }
}

@media (max-width: 480px) {
  .document {
    position: relative;
    padding: 30px 0 60px 0;
    &-pink__rectangle{
      display: block;
      position: absolute;
      top: -40px;
      right: 0;
    }
    &-blue__rectangle{
      z-index: 2;
      display: block;
      position: absolute;
      bottom: -20px;
      right: 40px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__row {
      justify-content: flex-start;
      flex-direction: column;
      &-plus {
        display: none;
      }
    }
    &__block {
      margin-right: 0;
    }
    &__description {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 180px;
      }
    }
    &-carousel {
      max-width: 320px;
      margin: 0;
      margin-top: 30px;
      &__block {
        position: absolute;
        bottom: 65px;
      }
      & .item {
        & .card {
          width: 95px;
          height: 130px;
          & img {
            object-fit: fill;
            cursor: pointer;
          }
        }
      }
      &__prev {
        display: none !important;
      }
      &__next {
        display: none !important;
      }
    }
  }
}
