.hero {
  padding: 0;
  margin-top: 85px;
  background: linear-gradient(0deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%);
  &__bg {
    position: relative;
    padding: 90px 0;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    background: url("../../static/images/content/hero__right.png") 91.5% 53%
        no-repeat,
      url("../../static/images/content/hero__plus.png") 55% 40% no-repeat;
    background-size: auto, auto, auto;
    &-rectangle {
      position: absolute;
      top: 2px;
      left: -68px;
    }
    &-minRec {
      position: absolute;
      bottom: -20px;
      left: 45%;
      transform: translateX(-50%);
    }
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    max-width: 650px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__subtitle {
    margin-bottom: 35px;
    line-height: 1.2;
    max-width: 550px;
    font-size: 1.7em;
  }
  &__img {
    position: absolute;
    right: 0;
    top: 2px;
    flex-basis: 50%;
    & img {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

@media (max-width: 480px){
  .hero {
    &__bg {
      background: unset;
      background: url("../../static/images/content/hero__bg__mobile.png") 55%
        75% no-repeat;
      background-size: auto;
      &-rectangle {
        display: none;
      }
      &-minRec {
        display: none;
      }
    }
    margin-top: 55px;
    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 1em;
      margin-bottom: 15px;
    }
    &__button {
      margin-bottom: 110px;
    }
    &__img {
      height: 241px;
      top: 170px;
      right: 0;
      & img {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
}
