.partners {
  padding: 0;
  &__row {
    padding: 90px 0;
    position: relative;
    &-img {
      position: absolute;
      top: 110px;
      right: -30px;
    }
    &-rectangle {
      z-index: 1;
      position: absolute;
      bottom: -30px;
      left: -55px;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__subtitle {
    display: block;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 30px;
  }
  &__card {
    position: relative;
    padding-top: 17px;
    margin-right: 10px;
    width: 350px !important;
    height: 217px;
    border-radius: 10px;
    background: #f9f9f9;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      & .partners__card-logo {
        filter: grayscale(0%);
        transition: 0.2s;
      }
    }
    &-logo {
      display: flex;
      align-items: center;
      height: 80px;
      margin-left: 30px;
      margin-bottom: 18px;
      filter: grayscale(100%);
    }
    &-subtitle {
      display: block;
      margin-left: 30px;
    }
    &-block {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &-arrow {
      width: 30%;
      position: relative;
      transition: 1.2s;
      & span {
        display: block;
        position: relative;
        background: $text__color;
        &:nth-child(1) {
          position: absolute;
          bottom: -3px;
          right: 0;
          width: 15px;
          height: 5px;
          transform-origin: right top;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          width: 100%;
          height: 2px;
        }
        &:nth-child(3) {
          position: absolute;
          top: -3px;
          right: 0;
          width: 15px;
          height: 5px;
          transform-origin: right bottom;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .partners {
    &__card {
      width: 300px !important;
    }
  }
}

@media (max-width: 480px) {
  .partners {
    &__row {
      padding: 30px 0 60px 0;
      background: url("../../static/images/content/pink__plus.png") 95% 5% no-repeat;
      background-size: auto;
      &-img{
        display: none;
      }
      &-rectangle {
        display: none;
      }
    }
    &__title {
      text-align: left;
      margin-bottom: 20px;
    }
    &__subtitle {
      text-align: left;
      font-size: 1em;
      margin-bottom: 25px;
    }
    &__card {
      padding-top: 10px;
      width: 225px !important;
      height: 160px;
      &-logo {
        width: 110px;
        height: 55px;
        margin-left: 15px;
        margin-bottom: 10px;
      }
      &-subtitle {
        margin-left: 15px;
      }
    }
  }
}
