.product {
  padding: 90px 0 45px 0;
  &__block {
    display: flex;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__description {
    max-width: 755px;
    display: block;
    margin-bottom: 30px;
    margin-right: 35px;
  }
  &__card {
    position: relative;
    width: 260.56px;
    height: 155.5px;
    border: 2px solid #22b5bf;
    border-radius: 10px;
    &-item {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &-img {
      position: absolute;
      bottom: -30px;
      right: -30px;
    }
  }
}

@media (max-width: 480px) {
  .product {
    padding: 60px 0 25px 0;
    background: url("../../static/images/content/blue__plus.png") 95% 100% no-repeat;
    background-size: auto;
    &__title {
      margin-bottom: 20px;
    }
    &__description {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__card {
      display: none;
    }
  }
}
